@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto/Roboto-Regular.ttf") format("ttf");
}
@font-face {
    font-family: "Roboto Medium";
    src: url("../assets/fonts/Roboto/Roboto-Medium.ttf") format("ttf");
}
@font-face {
    font-family: "Archivo Black";
    src: url("../assets/fonts/Archivo/Archivo-Black.ttf") format("ttf");
}