/* start of container */
.container {
    width: 100%;
    padding: 0 1.5rem;
    margin: 0 auto;
}

@media all and (min-width: 576px) {
    .container {
        width: 54rem;
    }
}

@media all and (min-width: 768px) {
    .container {
        width: 72rem;
    }
}

@media all and (min-width: 992px) {
    .container {
        width: 96rem;
    }
}

@media all and (min-width: 1200px) {
    .container {
        width: 114rem;
    }
}

@media all and (min-width: 1400px) {
    .container {
        width: 137rem;
    }
}
/* end of container */