@media all and (max-width: 340px) {
    .btn {
        /*== header ==*/
        width: 15rem;
        height: 4rem;
        line-height: 4rem;
    }

    .header-content__title {
        font-size: 3rem;
    }
}

@media all and (min-width: 576px) {
    /*== header ==*/
}

@media all and (min-width: 768px) {
    /*== header ==*/
    .nav__wrapper {
        margin: 0 auto;
    }

    .hamburger-menu {
    visibility: hidden;
    opacity: 0;
    }

    .nav__btn {
        display: none;
    }

    .desktop-menu {
        display: flex;
    }
}

@media all and (min-width: 992px) {
    /*== header ==*/
    .header {
        height: 99vh;
    }
    .nav__wrapper {
        margin: 0;
    }

    .nav__desktop-links {
        display: flex;
    }

    .header-content__title {
        max-width: 54rem;
    }

    .header-content__description {
        max-width: 50rem;
    }
}

@media all and (min-width: 1200px) {
    /*==  ==*/
}

@media all and (min-width: 1400px) {
    /*==  ==*/
}