@media all and (max-width: 420px) {

    /*== footer ==*/
    .footer {
        text-align: center;
    }

    .footer__navigators-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
}

@media all and (max-width: 340px) {
    .btn {
        width: 15rem;
        height: 4rem;
        line-height: 4rem;
    }

    body {
        font-size: 1.3rem;
    }

    /*== header ==*/
    .header-content__title {
        font-size: 3.8rem;
    }

    /*== destinations ==*/
    .place__price {
        padding: 1.2rem 2rem;
    }

    .place__title {
        font-size: 1.5rem;
    }

    /*== subscription ==*/
    .subscription__email-box {
        padding: 2.5rem 0;
        height: 4.5rem;
    }

    .subscription__email-icon {
        left: 1.5rem;
        width: 2.3rem;
        height: 2.3rem;
    }

    .subscription__email-input {
        border-radius: 2rem;
        padding: 0 5.4rem 0 4.5rem;
    }

    .subscription__btn {
        right: 1rem;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 1rem;
    }

    .subscription__btn > svg {
        width: 70%;
    }

    /*== footer ==*/
    .footer__navigator {
        width: 20.1rem;
    }
}

@media all and (min-width: 576px) {
    .container {
        width: 54rem;
    }

    /*== destinations ==*/
    .place__img {
        max-height: 25rem;
    }
}

@media all and (min-width: 768px) {
    .container {
        width: 72rem;
    }

    /*== header ==*/
    .nav__wrapper {
        margin: 0 auto;
    }

    .hamburger-menu {
        visibility: hidden;
        opacity: 0;
    }

    .nav__btn {
        display: none;
    }

    .desktop-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    /*== destinations ==*/
    .desktop-place {
        display: block;
    }

    /*== subscription ==*/
    .subscription::before {
        bottom: 0%;
        left: 0%;
        height: 150%;
        background: url(../assets/svgs/shape4.svg) no-repeat center/cover;
    }
}

@media all and (min-width: 992px) {
    .container {
        width: 96rem;
    }

    /*== header ==*/
    .header {
        height: 96vh;
    }

    .nav__wrapper {
        margin: 0;
    }

    .nav__desktop-links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .header-content__title {
        max-width: 54rem;
    }

    .header-content__description {
        max-width: 50rem;
    }

    /*== services ==*/
    .service {
        height: 28rem;
        padding: 4rem 3rem;
    }

    /*== subscription ==*/
    .subscription {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        padding: 1rem 5rem;
    }

    .subscription__content {
        text-align: left;
    }

    .subscription__title {
        margin: 2rem 0 0;
    }

    .subscription__banner {
        max-width: 40%;
    }

    .subscription::before {
        bottom: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background: url(../assets/svgs/shape3.svg) no-repeat center/cover;
    }

    /*== footer ==*/
    .footer__content {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    }

    .footer__info {
        width: 45rem;
    }

    .footer__navigators-container {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
    }

    .footer__app {
        margin-top: 0;
    }

    .footer__scroll-link {
        right: 1.5rem;
        -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
                transform: translate(0, -50%);
    }
}

@media all and (min-width: 1200px) {
    .container {
        width: 114rem;
    }

    /*== footer ==*/
    .footer__info {
        width: 45%;
    }
}

@media all and (min-width: 1400px) {
    .container {
        width: 137rem;
    }
}